# === AWS EC2 con Docker ===
MONGODB_URL=mongodb://url_DeConexion_aqui:27017/nomnre_bd?authSource=admin

# Flask
FLASK_ENV=production
SECRET_KEY=tu_clave_secreta_aqui
API_BASE_URL=tu_api_base

#GroqCloud
GROQCLOUD_API_KEY=tu_api_key

# === Variables para docker-compose.yml ===
MONGO_ROOT_USERNAME=Tu_username
MONGO_ROOT_PASSWORD=tu_clave
ME_USERNAME=User_de_MongoExpress
ME_PASSWORD=tu_clave_de_MongoExpress