# === AWS EC2 con Docker ===
MONGODB_URL=mongodb://url_DeConexion_aqui:27017/nomnre_bd?authSource=admin

# Flask
FLASK_ENV=production
SECRET_KEY=tu_clave_secreta_aqui

# === Variables para docker-compose.yml ===
MONGO_ROOT_USERNAME=Tu_username
MONGO_ROOT_PASSWORD=tu_clave
ME_USERNAME=User_de_MongoExpress
ME_PASSWORD=tu_clave_de_MongoExpress