# === AWS EC2 con Docker ===
MONGODB_URL=mongodb://Grupo1:passGrupo1@<IP_PUBLICA_EC2>:27017/scraper_db?authSource=admin

# Flask
FLASK_ENV=production
SECRET_KEY=tu_clave_secreta_aqui

# === Variables para docker-compose.yml ===
MONGO_ROOT_USERNAME=Grupo1
MONGO_ROOT_PASSWORD=passGrupo1
ME_USERNAME=admin
ME_PASSWORD=admin123