exports/

settings.json
*.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.env
venv/
env/

# Archivos temporales
*.tmp
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# FAISS index files
faiss_index.idx
faiss_metadata.pkl

# Archivos de guia para la integracion con IA
*.md

#Archivo que almacena las tendencias
tendencias.csv

#Archivos para subir a AWS
temp_deploy/*

# Llaves 
*.pem